:root {
  --Other-Black: #000;
  --Primary-primary-500: #3b3092;
  --Other-White: #fff;
  --Primary-primary-10: #fbfbff;
  --Neutral-neutral-500: #4a4950;
  --primary-on-primary: #f5f9ff;
  --Neutral-neutral-200: #e5e4e7;
  --Secondary-secondary-500: #fcaf17;
  --surface-on-surface: #1a1b1f;
  --Neutral-neutral-400: #7b7986;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--Primary-primary-10);
}
/* Header */
.header {
  display: flex;
  padding: 24px 56px;
  justify-content: space-between;
  align-items: flex-end;
}
.header__navbar {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.navbar__menu {
  display: flex;
  padding-top: 9px;
  align-items: flex-start;
  gap: 8px;
}
.navbar__item {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Other-Black);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.header__contact-button {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  background: var(--Primary-primary-500);
  color: var(--Other-White);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
}
/* Hero Section */
.hero-section {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hero-section__title-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.hero-section__title {
  width: 51%;
  color: var(--Other-Black);
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}
.hero-section__description {
  width: 44%;
  color: var(--Neutral-neutral-500);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.hero-section__button {
  margin-top: 40px;
  display: flex;
  height: 56px;
  min-width: 168px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  background: var(--Primary-primary-500);
  color: var(--primary-on-primary);
  font-family: "Inter", sans-serif;
  text-align: center;
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
}
.hero-section__button-image {
  display: flex;
  justify-content: center;
}
.hero-section__image {
  margin-top: 24px;
  width: 100%;
}
.client-logo {
  width: 100%;
  padding-bottom: 24px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 41px;
}
.client-logo__slider {
  display: flex;
  animation: 20s logoslide infinite linear;
}
.client-logo__slider-images {
  display: flex;
  padding-left: 56px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 49px;
  flex-shrink: 0;
  align-self: stretch;
}
.client-logo__image {
  width: 99.682px;
  height: 66.455px;
}
@keyframes logoslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Technologies section*/
.technologies {
  display: flex;
  padding: 128px 56px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}
.technologies__image {
  width: 60%;
  height: 48%;
}
.technologies__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.technologies__title {
  color: var(--Other-Black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.technologies__description {
  color: var(--Other-Black);
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}
/* cta-section */
.cta-section {
  display: flex;
  padding: 128px 0px 64px 0px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  border-bottom: 1px solid var(--Other-Black);
  background: var(--Primary-primary-500);
}
.cta-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.cta-section__title {
  color: var(--Other-White);
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}
.cta-section__description {
  color: var(--Neutral-neutral-200);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.cta-section__button {
  display: flex;
  height: 56px;
  min-width: 168px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  background: var(--Secondary-secondary-500);
  color: var(--Other-Black);
  font-family: "Inter", sans-serif;
  text-align: center;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 16px;
}
.cta-section__image {
  width: 100%;
}

/* footer */
.footer {
  display: flex;
  padding: 80px 0px 48px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
  background: var(--Primary-primary-10);
}
.footer__top {
  display: flex;
  padding: 0px 56px;
  align-items: flex-start;
  gap: 262px;
  align-self: stretch;
}
.footer__about {
  display: flex;
  width: 29%;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}
.footer__logo-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  align-self: stretch;
}
.footer__description {
  align-self: stretch;
  color: var(--Neutral-neutral-500);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer__social-media {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.footer__services-company-resources {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}
.footer__services,
.footer__company,
.footer__resources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.footer__heading {
  align-self: stretch;
  color: var(--Other-Black);
  font-family: "Catamaran";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.footer__item {
  align-self: stretch;
  color: var(--surface-on-surface);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.footer__bottom {
  display: flex;
  padding: 0px 56px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--Neutral-neutral-400);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Why datakulture */
.why-datakulture {
  display: flex;
  padding: 128px 56px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}
.why-datakulture__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.why-datakulture__title {
  color: var(--Other-Black);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.why-datakulture__subtitle {
  color: var(--Other-Black);
  text-align: center;
  font-family: "Catamaran";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}
.why-datakulture__content {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.why-datakulture__image {
  width: 52%;
  height: 60%;
}
.why-datakulture__features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}
.why-datakulture__feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.why-datakulture__feature-title {
  align-self: stretch;
  color: var(--Other-Black);
  font-family: "Catamaran";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}
.why-datakulture__feature-description {
  align-self: stretch;
  color: var(--Neutral-neutral-500);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.why-datakulture__learn-more {
  display: flex;
  align-items: center;
  gap: 16px;
}
.why-datakulture__learn-more-text {
  color: var(--Other-Black);
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
